<main class="container">
  <div class="item-list inner">

    <h1>Editing News2</h1>

    <%= render 'form', news2: @news2 %>

    <%= link_to 'Show', @news2 %> |
    <%= link_to 'Back', news2s_path %>

  </div>
</main>
