<main class="container2">
  <div class="item-list inner">
    <div class="row">
      <div class="new col-md-12 col-sm-12 col-xs-12">
        <div class="item-inner">
          <h1>新增買蝦文章</h1>
          <%= render 'form', buy: @buy %>
        </div>
      </div>
    </div>
