/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*

*= require_tree .
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap";
@import "font-awesome";
@import "summernote";
@import "codemirror";
@import "codemirror/themes/solarized";



/*news*/
body,html{
  height: 100%;
}
.wrap{
  background: #ebe8e8;
  height: auto;
  min-height: 100%;

}

.hero{
  position: relative;
<<<<<<< Updated upstream
  height: 400px; 
  background: url("http://i.imgur.com/5bYCTyR.jpg") no-repeat center/cover;
=======
<<<<<<< HEAD
  height: 400px;
  background: url("3.jpg") no-repeat center/cover;
=======
  height: 400px; 
  background: url("http://i.imgur.com/5bYCTyR.jpg") no-repeat center/cover;
>>>>>>> origin/master
>>>>>>> Stashed changes
  z-index: 1;
  @media(max-width:400px){
    height: 300px;
    background: url("bg2.jpg") center/cover;
  }

}

.container{
  position: relative;
  z-index: 2;
}

.container2{
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 960px;
}

@media (max-width:768px) and (max-width:1200px){
  .container2{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 90%;
  }
}

.inner{
  margin: 0 auto;
}
