// Place all the styles related to the buys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* buy&sell index*/
.item-title_sellshow{
  margin-left: 5px;
  font-size: 20px;
  padding: 10px 0px;
  letter-spacing: 0.1em;
}

/* item-location2 待售*/
.item-location2{
  color: #3C9686;
  .location-icon{
    display: inline;
  }
  .location-text{
    font-size: 15px;
    display: inline;
    padding-right: 6px;
    letter-spacing: 0.1em;
  }
  .location-people{
    display: inline;
    font-size: 15px;
    letter-spacing: 0.1em;
  }
}

.item-spot2{
  width: 100%;
  height: 116px;
  background: #D3EFEA;
  margin-top: 12px;
  box-shadow: 1px 5px 10px #4C9D8B;
  border-radius: 8px;
  padding: 10px;
  text-align: right;
}
.datetime2{
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  position: relative;
  float: left;
  padding-bottom: 35px;
  padding-top: 25px;
  font-size: 36px;
  color: #3C9686;
}

.money2{
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
  width: 60%;
  text-align: center;
  color: #64A69B;
  background: #fff;
  border-radius: 6px;
  box-shadow: 1px 4px 15px #64A69B;
  margin-left: 10px;
  transition: all 300ms;

}
.money-title2{
 display: block;
 font-size: 18px;
 text-align: center;
 padding-right: 5px;
 border-bottom: 1px solid #64A69B;
 padding-bottom: 5px;
 margin-bottom: 5px;
}

/*item-spot3 已售出*/
.item-location3{
  color: #BA8B83;
  .location-icon{
    display: inline;
  }
  .location-text{
    font-size: 15px;
    display: inline;
    padding-right: 6px;
    letter-spacing: 0.1em;
  }
  .location-people{
    display: inline;
    font-size: 15px;
    letter-spacing: 0.1em;
  }
}

.item-spot3{
  width: 100%;
  height: 116px;
  background: #EFD7D3;
  margin-top: 12px;
  box-shadow: 1px 5px 10px #C89F98;
  border-radius: 8px;
  padding: 10px;
  text-align: right;
}
.datetime3{
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  position: relative;
  float: left;
  padding-bottom: 35px;
  padding-top: 25px;
  font-size: 36px;
  color: #BA8B83;
}

.money3{
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
  width: 60%;
  text-align: center;
  color: #BA8B83;
  background: #fff;
  border-radius: 6px;
  box-shadow: 1px 4px 15px #BA8B83;
  margin-left: 10px;
  transition: all 300ms;

}
.money-title3{
 display: block;
 font-size: 18px;
 text-align: center;
 padding-right: 5px;
 border-bottom: 1px solid #BA8B83;
 padding-bottom: 5px;
 margin-bottom: 5px;
}


/* buy&sell new */

.simple_form div.input {
  margin-bottom: 12px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

/* buy&sell show*/

.item-comment2{
  padding: 10px 0px 10px 6px;
  letter-spacing: 0.1em;
  .item-comment-logo{
    float: left;
  }
  .item-comment-logo img{
    width: 60px;
    height: 60px;
    border-radius: 20%;
  }
  .item-comment-user{
    margin-left: 80px;
    .item-comment-name{
      font-size: 24px;
      color: #3C9686;
    }
    .item-comment-name2{
      font-size: 24px;
      color: #BA8B83;
    }
    .item-comment-createdat{
      font-size: 16px;
      margin-top: 6px;
      color: #919092;

    }
  }
  .item-comment-content{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    display: block;
  }
  .sell-box{
    margin-top: 14px;
  }
  .item-comment-content3{
    width: 100%;
    font-size: 20px;
    display: block;
    margin-top: 10px;
  }
  .sell-content1{
    display: inline-block;
    color: #919092;
  }
  .sell-content2{
    display: inline-block;
    color: #000;
  }
}
.item-comment-name{
  font-size: 20px;
  font-weight: normal !important;
  color: #3C9686 !important;
  letter-spacing: 0.1em;
}
.item-comment-name2{
  font-size: 20px;
  font-weight: normal !important;
  color: #BA8B83 !important;
  letter-spacing: 0.1em;
}
