/* main index */
main.container,main.container2{
  @media(max-width:780px){
    width: 100%;
    margin: 0;
    padding: 10px 0 60px;
  }
}

.row{
  @media(max-width:780px){
    margin-left: 0!important;
    margin-right: 0!important;
  }
}
.item-list.inner{
  margin-top: -100px;
  @media(max-width:780px){
    margin-top: -130px;
  }
}

.item{
  margin-bottom: 20px;
}

.new{
  margin-bottom: 20px;
}

.item-inner{
  background: #fff;
  width: 100%;
  border-radius: 8px;
  box-shadow: 1px 4px 13px #CAC9C9;
  padding: 20px;
}
.item-title{
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px;
}
.item-location{
  color: #FA969B;
}
.location-icon{
  display: inline;
}
.location-text{
  display: inline;
  padding-right: 10px;
}
.location-people{
  display: inline;
}
.item-spot{
  width: 100%;
  height: 116px;
  background: #FCF7E6;
  margin-top: 12px;
  border-radius: 8px;
  text-align: right;
}
.item-spot img{
  width: 100%;
  height: 100%;

}
.datetime{
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  position: relative;
  float: left;
  padding-bottom: 30px;
  &:after{
    content: "";
    display: block;
    padding-top: 70%;
  }
  &:before{
    content: "";
    position: absolute;
    left:40%;
    width: 1px;
    top:0;
    bottom:10px;
    background:#9B9B9B;
    transform: rotate(45deg) translate(-60%,-5px);
  }
}
.weekdate{
     position: absolute;
     bottom:0;
     left:0;
     right:0;
     text-align: center;
     font-size: 18px;
     color: #9B9B9B;
     padding-bottom: 5px;
   }
.month{
     font-size: 45px;
     position: absolute;
     right:50%;
     left:0;
     padding-right: 5px;
     text-align: right;
     color: #9B9B9B;
     width:50%;
     margin-top: -10px;
}
.date{
     position: absolute;
     left:50%;
     bottom:30px;
     font-size: 40px;
     width:40%;
     color: #9B9B9B;
     margin-bottom: -10px;
   }
.money{
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
  width: 60%;
  text-align: center;
  color: #B18D58;
  background: #fff;
  border-radius: 6px;
  box-shadow: 1px 5px 15px #C1B19B;
  margin-left: 10px;
  transition: all 300ms;

}
.money-title{
 display: block;
 font-size: 16px;
 text-align: center;
 padding-right: 5px;
 border-bottom: 1px solid darken(#F0E3C8,3%);
 padding-bottom: 5px;
 margin-bottom: 5px;
}

/*這裡是蝦場活動文章*/

.item-activitydate{
  color: #69CDC4;
  font-size: 14px;
}
.activity-date{
  display: inline-block;
  padding-right: 8px;
}
.activity-date2{
  display: inline-block;
  letter-spacing: 0.2em;
}

/*這裡是釣蝦新聞文章*/

.item-newsdate{
  color: #9BA9D7;
  font-size: 14px;
}
.news-date{
  display: inline-block;
  padding-right: 8px;
}
.news-date2{
  display: inline-block;
  letter-spacing: 0.2em;
}


/* main show */

@media (min-width: 768px){
  .item-inner2{
    padding: 20px 60px 20px 60px !important;
  }
}
.item-inner2{
  background: #fff;
  width: 100%;
  border-radius: 8px;
  box-shadow: 1px 4px 13px #CAC9C9;
  padding: 20px;
  margin-bottom: 20px;
}

.item-title2{
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0px;
}

.item-content p{
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1.6px;
}

.item-content img{
  width: 100% !important;
  height: auto !important;
  border-radius: 8px;
}

/* main show commentbox */
@media (min-width: 768px){
  .item-commentbox{
    padding: 20px 60px !important;
  }
}
.item-commentbox{
    background: #fff;
    width: 100%;
    border-radius: 8px;
    box-shadow: 1px 4px 13px #CAC9C9;
    padding: 20px;
}

/* main show comment*/

@media (min-width: 768px){
  .item-comment{
    padding: 20px 60px !important;
  }
}
.item-comment{
  margin: 20px 0px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 1px 4px 13px #CAC9C9;
  padding: 20px;
  &:empty{
    display: none;
  }


  .item-comment-logo{
    float: left;
  }
  .item-comment-logo img{
    width: 60px;
    height: 60px;
    border-radius: 20%;
  }
  .item-comment-user{
    margin-left: 80px;
    .item-comment-name{
      font-size: 20px;
      font-weight: bold;
      color: #ec8d40;
    }
    .item-comment-createdat{
      font-size: 16px;
      margin-top: 6px;
      letter-spacing: 0.1em;
    }
  }
  .item-comment-content{
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
  }
  .item-comment-content p{
    line-height: 28px;
  }
}
