<main class="container2">
  <div class="item-list inner">
    <div class="row">
      <div class="new col-md-12 col-sm-12 col-xs-12">
        <div class="item-inner">
          <button class="pure-button button-success">賣蝦資訊</button>
          <h1>新增賣蝦文章</h1>

          <%= render 'form', sell: @sell %>

        </div>
      </div>
    </div>
  </div>
</main>
